<div cdkDropListGroup class="main-wrapper">
  <div class="wrapper">
    <div class="example-container">
      <h3 class="column-title">Список дел</h3>

      <div
        cdkDropList
        [cdkDropListData]="todo"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        @for (item of todo; track item) {
          <div class="example-box" cdkDrag>{{item}}</div>
        }
      </div>

    </div>

    <div class="example-container">
      <h3 class="column-title">Выбранные</h3>

      <div
        cdkDropList
        [cdkDropListData]="done"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        @for (item of done; track item) {
          <div class="example-box" cdkDrag>{{item}}</div>
        }
      </div>
    </div>
  </div>

  <div class="button-group">
    <button class="btn" (click)="goBack()">Закрыть</button>
    <button class="btn" (click)="saveDone()">Сохранить</button>
  </div>
</div>
