<div class="reminder-container">
  <app-header></app-header>

  <div class="reminder-list">
    <div >
      <h2 class="animated-title" >Ваши напоминания</h2>
    </div>
    <div class="table-container">
      <table class="custom-table">
        <tr>
          <th>Статус</th>
          <th>Краткое описание</th>
          <th>Дата создания</th>
          <th>Дата выполнения</th>
        </tr>
        <tr *ngFor="let reminder of reminders" class="reminder-row" (click)="onRowClick(reminders.indexOf(reminder))">
          <td>{{ reminder.status.name }}</td>
          <td>{{ reminder.shortDescription }}</td>
          <td>{{ reminder.creationDate | date:'short' }}</td>
          <td>{{ reminder.completionDate | date:'short' }}</td>
        </tr>
        <tr *ngIf="reminders.length === 0" class="empty-row">
          <td colspan="4">Нет напоминаний</td>
        </tr>
      </table>
    </div>
    <div class="add-reminder-section">
      <button class="add-reminder-button" (click)="addReminder()">Добавить напоминание</button>
    </div>
  </div>

</div>

