/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap');
html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: rgb(2,0,36);
  background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,245,255,0.5858718487394958) 66%);
  overflow: hidden;
}
.font {
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.font-bold{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.title{
  width: 100%;
  display: flex;
  justify-content: center;
  color: #FFFFFF;
}
.title-reminder{
  font-size: 30px;
  width: 30%;
  padding: 10px 0;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  margin: 40px 20px 70px 20px;
  border-radius: 15px;
  background-color: #003f73;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}
.btn {
  min-width: 130px;
  padding: 10px 20px;
  background-color: #104f73;
  color: #f8f8f8;
  border-radius: 8px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #437498;
  }

  &:active {
    background-color: #003f73;
  }
}

